.header {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.header img {
    width: 100%;
    height: 100%;
    opacity: 1;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.header-contents {
    font-family: 'Playfair Display', serif;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2vw;
    top: 0;
    animation: fadeIn 3s;
    color: white;
    z-index: 2;
}

.header-contents h2 {
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    font-size: max(5.0vw, 24px);
}

.header-contents p {
    font-family: 'Playfair Display', serif;
    font-size: 1.5vw;
    color: #e5e5e5;
}

.header-contents button {
    font-family: 'Playfair Display', serif;
    margin: 20px;
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}

.header-contents button:hover {
    background-color: #6974f1;
    color: white;
}