.about-container {
    padding: 50px 0px;
}

.about-container h1 {
    text-align: center;
    
}

.subsection {
    
    width: 80%;
    margin: 30px auto;
    padding: 20px 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.subsection img {
    width: 30%;
}
